img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: center;

}